<!DOCTYPE html>
<html lang="ja" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ETTT-Report</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
          integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <span class="navbar-brand col-md-11">ETTT-Reports</span>
    <span style="color:#eee">Version:1.0.0</span>
</nav>

<main role="main" class="container">

    <nav class="breadcrumb">
        <a class="breadcrumb-item" href="#" th:href="'../../report.html'">All</a>
        <a class="breadcrumb-item" href="#" th:href="'../scenario_report.html'">Scenario</a>
        <a class="breadcrumb-item" href="#">ExecuteRestApi&nbsp;Reports</a>
    </nav>

    <ul>
        <li><a href="#requestInformation">Request&nbsp;Information</a></li>
        <li><a href="#responseInformation">Response&nbsp;Information</a></li>
    </ul>

    <!-- Request Information. -->
    <section class="row">
        <div class="col-md-12">
            <h2 id="requestInformation">Request&nbsp;Information</h2>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th class="bg-dark" style="width:200px;color:white">Method</th>
                    <td th:text="${request.method}">GET</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">URL</th>
                    <td th:text="${request.targetUrl}">https://host:8080/resources</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Body</th>
                    <td>
                        <th:block th:if="${request.body}">
                            <code th:utext="${stringUtils.prettyHtml(jsonUtils.rePretty(request.body))}">
                                {
                                "key" : "value"
                                }
                            </code>
                        </th:block>
                        <th:block th:if="${request.body==null}">
                            Request Body is Nothing
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

    <!-- Response Information. -->
    <section class="row">
        <div class="col-md-12">
            <h2 id="responseInformation">Response&nbsp;Information</h2>
            <table class="table table-sm table-bordered">
                <tbody>
                <tr>
                    <th class="bg-dark" style="width:200px;color:white">Status&nbsp;Code</th>
                    <td th:text="${response.statusCode}">200</td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Header</th>
                    <td>
                        <th:block th:each="element,stat : ${response.headers}">
                            <span th:text="${element.key}">key</span>&nbsp;:&nbsp;
                            <th:block th:each="childElement : ${element.value}">
                                <span th:text="${childElement}">value</span>
                            </th:block>
                            <br/>
                        </th:block>
                    </td>
                </tr>
                <tr>
                    <th class="bg-dark" style="color:white">Body</th>
                    <td>
                        <th:block th:if="${response.body}">
                            <code th:utext="${stringUtils.prettyHtml(jsonUtils.rePretty(response.body))}">
                                {
                                "key" : "value"
                                }
                            </code>
                        </th:block>
                        <th:block th:if="${response.body==null}">
                            Response Body is Nothing
                        </th:block>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </section>

</main>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
        integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
        crossorigin="anonymous"></script>
</body>
</html>
